black
flake8
notebook

hydra-core
docopt
more-itertools

opencv-python
Pillow
numpy
scipy
scikit-learn
scikit-image
scikit-video
pandas
matplotlib
seaborn
plotly

streamlit
stqdm

torch
torchvision
torchaudio
torchtext
pytorch-lightning
torchinfo
